@import 'nib'
@import 'jeet'
@import 'rupture'

// meyer reset (via nib)
global-reset()

tr.readonly
  background-color #11b3f3

.timetable
  border 1px solid red

.sheet
  overflow hidden
  margin-bottom 2em

.sheet-data-table, .sheet-overview
  sheet-border-color = #d5cbc1
  float left

  border 1px solid sheet-border-color

  tr.weekend
    background-color #1ca8d2

  tr.vacation
    background-color #fdeaa7

  th
    background-color #898984
    color #fff

  td, th
    padding-left 1em
    padding-right 1em
    border-bottom 1px solid sheet-border-color
    border-right 1px solid sheet-border-color

    &:last-of-type
      border-right none


  .sheet-data-table-row:last-of-type
    td, th
      border-bottom none
