table.sheet-data-table
  tr.sheet-data-table-col(data-ng-repeat="row in combinedRows")
    td
      button(data-ng-click="newEntry")
        | new
    td {{row.date|date}}
    td {{row.entry.project}}
      
    
