table.sheet-data-table
  thead
    tr
      th
      th
      th project
      th begin
      th end
      th break (std)
      th hours
      th 
  tbody
    tr.sheet-data-table-col(data-ng-repeat="row in combinedRows", data-ng-class="{true: 'weekend', false: ''}[row.weekend]")
      td
        button(data-ng-click="newEntry(row)", data-ng-if="row.first") new
      td {{row.date|date}}
      td
        input(value="{{row.entry.project}}", data-ng-if="row.entry", data-ng-model="row.entry.project")
      td
        input(value="{{row.entry.begin}}", data-ng-if="row.entry", data-ng-model="row.entry.begin", type="time")
      td
        input(value="{{row.entry.end}}", data-ng-if="row.entry", data-ng-model="row.entry.end", type="time")
      td
        input(value="{{row.entry.break}}", data-ng-if="row.entry", data-ng-model="row.entry.break", type="number")
      td 
        span(data-ng-if="row.entry")
          {{row.entry | workingHours}}
      td 
        button(data-ng-click="deleteEntry(row.entry)", data-ng-if="row.entry") x
        
