section.segment
  header
    h3 Overview
    
  table.ui.table.sheet-overview
    thead
      tr
        th
        th hours
        th %
    tbody
      tr(data-ng-repeat="project in projects")
        td {{project.name}}
        td {{project | workingHoursForProject: sheetEntries}}
        td
      tr
        td overall
        td {{hoursSum}}
        td
          
    
