head
  title timerevel
  meta(charset='UTF-8')
  link(rel='stylesheet', href='./css/semantic.min.css', media='screen', title='semantic')
  link(rel='stylesheet', href='./css/app.css', media='screen', title='application')
