//- leave those script tags in an absolute path, because they are replaced with a cdn link in deployment
script(src='/bower_components/jquery/dist/jquery.js')

//- vendor dependencies
//- script(src='./javascripts/dependencies.js')
  
//- main js file
script(src='./javascripts/app.js')
