doctype html
html
  include ./includes/head.jade
    
  body
    section(
      data-ng-app="timerevel"
      data-ng-controller="timerevelController"
    )
      h1
        | Timerevel 
        span(data-ng-bind="timerevel.version")
          
      section.sheets
        tr-sheet(
          data-ng-controller="sheetController"
        )
        
      
    include ./includes/script-tags.jade
